//
// Main
//

html {
  background: $black;
  color: $white;
  text-align: center;
}

.link-set__item {
  margin-bottom: 1em;
  transition: opacity 0.5s;

  .link-set-active & {
    opacity: 0.4;

    &.active,
    &.link-set__item--primary {
      opacity: 1;
    }
  }
}

.link-set__item--primary {
  margin-top: 4em;

  @include breakpoint(sm) {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.link-set__item__title,
.link-set__item__label {
  display: inline;
}

.link-set__item__title {
  @include font--title;

  &:after {
    content: '\25CF';
    margin: 0 6px;
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
    -webkit-font-smoothing: auto;
  }
}

.link-set__item--single {
  & > .link-set__item__title {
    &:after {
      content: none;
      margin: 0;
    }
  }
}

.link-set__item__label {
  @include font--regular-title;
}

.link-set__media {
  display: none;
}

.active-media-wrapper {
  position: relative;
  z-index: -1;

  video {
    object-fit: cover;
  }
}

.active-media-wrapper video,
.active-media-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.active-media-image {
  background-size: cover;
  background-position: center center;
}

.inactive {
  opacity: 0;
}

.link-set__item--contact .link-set__item__title {
  cursor: pointer;
}

.contact-info {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: $black;
  min-height: 100vh;
  width: 100%;
  transition: opacity 0.5s;

  &.active {
    display: block;
    opacity: 1;
  }
}

.contact-info__close {
  position: absolute;
  top: $gutter;
  right: $gutter;

  @include breakpoint(sm) {
    top: 3em;
    right: 50px;
  }
}

.close-button {
  @include blank-link;
  font-size: 70px;
  line-height: 0.6;
  text-shadow: none;
  cursor: pointer;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.contact-info__content,
.entry-content {
  @include font--regular-body-copy;
  max-width: $content-max-width;
  margin: 0 auto;
}

.contact-info__content {
  padding-left: $gutter;
  padding-right: $gutter;
}

.contact-info__links {
  margin-top: 3em;
  margin-bottom: 1em;
}

.contact-info__links__link {
  position: relative;
  margin: 0 15px;
  display: block;
  border-bottom: 0;
  margin-bottom: 5px;

  @include breakpoint(sm) {
    & + .contact-info__links__link {
      &:before {
        content: '\25CF';
        margin: 0 6px;
        font-size: 11px;
        position: absolute;
        top: 50%;
        left: -29px;
        margin-top: -7px;
      }
    }
  }

  @include breakpoint(sm) {
    display: inline-block;
    border-bottom: 1px solid;
  }
}

// News
.news-items {
  margin-top: 3em;
  margin-bottom: 3em;
}

.single-news_item {
  margin-bottom: 3em;

  .sandbox-image {
    max-height: 600px;
    width: auto;
    margin-bottom: 3em;
  }
}

.entry-content {
  margin-bottom: 3em;

  a {
    @include default-link;
  }
}

.post-title-wrapper {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}

.single-post-close-button {
  position: absolute;
  top: 10px;
  right: 15px;

  @include breakpoint(sm) {
    top: 30px;
    right: 50px;
  }
}
