@font-face {
  font-family: 'univers-extended';
  src: url('fonts/univers-extended-webfont.eot');
  src: url('fonts/univers-extended-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/univers-extended-webfont.woff') format('woff'),
       url('fonts/univers-extended-webfont.ttf') format('truetype'),
       url('fonts/univers-extended-webfont.svg#univers-extended') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'univers-black-extended';
  src: url('fonts/univers-blackext-webfont.eot');
  src: url('fonts/univers-blackext-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/univers-blackext-webfont.woff') format('woff'),
       url('fonts/univers-blackext-webfont.ttf') format('truetype'),
       url('fonts/univers-blackext-webfont.svg#univers-black-extended') format('svg');
  font-weight: normal;
  font-style: normal;
}
