///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

// Font stacks
$font-stack__regular : 'univers-extended', sans-serif;
$font-stack__heavy : 'univers-extra-black-extended', sans-serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Regular
@mixin font--regular {
  font-family: $font-stack__regular;
  font-size:      22px;
  line-height:    1.4;
  letter-spacing: 0;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);

  @include breakpoint(sm) {
    font-size: 32px;
  }
}

@mixin font--regular-body-copy {
  font-family: $font-stack__regular;
  font-size:      16px;
  line-height:    1.4;
  letter-spacing: 0;
  text-shadow: none;

  @include breakpoint(sm) {
    font-size: 24px;
  }
}

@mixin font--heavy-body-copy {
  font-family: $font-stack__heavy;
  font-size:      22px;
  line-height:    1.4;
  letter-spacing: 0;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);

  @include breakpoint(sm) {
    font-size: 32px;
  }
}


@mixin font--title {
  font-family: $font-stack__heavy;
  font-size:      32px;
  line-height:    1.1;
  letter-spacing: 0;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.8);

  @include breakpoint(sm) {
    font-size: 50px;
  }
}

@mixin font--regular-title {
  font-family: $font-stack__regular;
  font-size:      32px;
  line-height:    1.1;
  letter-spacing: 0;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);

  @include breakpoint(sm) {
    font-size: 50px;
  }
}
